.header {
  &-bar {
    box-sizing: border-box;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: $primary;
    padding-left: $padding;
    .logo {
      height: 13px;
    }
  }
  &-main {
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      max-height: 40px;
    }
    h1 {
      font-weight: normal;
      color: $med-grey;
      font-size: 1.5em;
      margin-top: 30px;
    }
  }
}
