.main-content {
  margin-top: -1px;
  border-top: 1px solid $light-grey;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
}

.sessions {
  flex: 1;
  h1 {
    font-size: 1.5em;
  }
  a {
    color: $primary-text;
  }
}

.session {
  padding: 15px 10px;
  border-top: 1px solid $light-grey;
  cursor: pointer;
  &-title {
    margin: 0 0 10px 0;
  }
  &-speakers {
    color: $dark-grey;
    font-size: 0.9em;
  }
  &.active {
    background: lighten($light-grey, 20%);
  }
}

.current-session {
  flex: 3;
  padding-left: $padding;
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 2.2em;
  }
  &-speakers {
    font-weight: bold;
  }
}

.speaker-name {
  margin-bottom: 1em;
}

@media screen and (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }

  .sessions {
    max-height: 250px;
    overflow-y: scroll;
  }

  .current-session {
    padding-left: 0;
  }
}
