.tracks {
  display: flex;
  &-tab {
    border-color: $light-grey;
    background: lighten($light-grey, 20%);
    border-style: solid;
    border-width: 1px 0 1px 1px;
    height: 20px;
    padding: 15px 20px;
    font-size: 0.9em;
    cursor: pointer;
    &:first-of-type {
      border-top-left-radius: 5px;
    }
    &:last-of-type {
      border-right: 1px solid $light-grey;
      border-top-right-radius: 5px;
    }
    &.active {
      background: white;
      color: $dark-grey;
      border-bottom: 1px solid white;;
    }
  }
  @media screen and (max-width: 900px) {
    flex-direction: column;
    &-tab {
      padding: 10px;
      border-color: $light-grey;
      border-style: solid;
      border-width: 1px 1px 0 1px;
    }
    &-tab:first-of-type, &-tab:last-of-type {
      border-radius: 0;
    }
    &-tab:last-of-type {
      border-bottom: 1px solid $light-grey;
    }
  }
}
