body {
  font-family: sans-serif;
  color: $primary-text;
  margin: 0;
  padding: 0;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: $link-text;
}

.main {
  padding: 0 $padding;
}
