body {
  font-family: sans-serif;
  color: #091E42;
  margin: 0;
  padding: 0; }

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: #0065FF; }

.main {
  padding: 0 35px; }

.header-bar {
  box-sizing: border-box;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #0052CC;
  padding-left: 35px; }
  .header-bar .logo {
    height: 13px; }

.header-main {
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .header-main img {
    max-height: 40px; }
  .header-main h1 {
    font-weight: normal;
    color: #97A0AF;
    font-size: 1.5em;
    margin-top: 30px; }

.tracks {
  display: flex; }
  .tracks-tab {
    border-color: #B3BAC5;
    background: #edeff1;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    height: 20px;
    padding: 15px 20px;
    font-size: 0.9em;
    cursor: pointer; }
    .tracks-tab:first-of-type {
      border-top-left-radius: 5px; }
    .tracks-tab:last-of-type {
      border-right: 1px solid #B3BAC5;
      border-top-right-radius: 5px; }
    .tracks-tab.active {
      background: white;
      color: #7A869A;
      border-bottom: 1px solid white; }
  @media screen and (max-width: 900px) {
    .tracks {
      flex-direction: column; }
      .tracks-tab {
        padding: 10px;
        border-color: #B3BAC5;
        border-style: solid;
        border-width: 1px 1px 0 1px; }
      .tracks-tab:first-of-type, .tracks-tab:last-of-type {
        border-radius: 0; }
      .tracks-tab:last-of-type {
        border-bottom: 1px solid #B3BAC5; } }

.main-content {
  margin-top: -1px;
  border-top: 1px solid #B3BAC5;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex; }

.sessions {
  flex: 1; }
  .sessions h1 {
    font-size: 1.5em; }
  .sessions a {
    color: #091E42; }

.session {
  padding: 15px 10px;
  border-top: 1px solid #B3BAC5;
  cursor: pointer; }
  .session-title {
    margin: 0 0 10px 0; }
  .session-speakers {
    color: #7A869A;
    font-size: 0.9em; }
  .session.active {
    background: #edeff1; }

.current-session {
  flex: 3;
  padding-left: 35px; }
  .current-session h1 {
    font-size: 2.5em; }
  .current-session h2 {
    font-size: 2.2em; }
  .current-session-speakers {
    font-weight: bold; }

.speaker-name {
  margin-bottom: 1em; }

@media screen and (max-width: 768px) {
  .main-content {
    flex-direction: column; }
  .sessions {
    max-height: 250px;
    overflow-y: scroll; }
  .current-session {
    padding-left: 0; } }
